 [Unit]
 Description=JuiceIoT Protector Update Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/sh -c "mkdir -p /usr/local/git-deployer/ && cd /usr/local/git-deployer/ && wget -O - https://raw.githubusercontent.com/JuiceIoT/Index/master/scripts/apps/GitDeployer/start-git-deployer-from-github.sh | sh -s -- 120 https://github.com/JuiceIoT/VoltageCurrentMAX471SensorCalibratedSwitch.git tmp/VoltageCurrentMAX471SensorCalibratedSwitch pull-build-and-upload-nano.sh ttyUSB0"

 [Install]
 WantedBy=multi-user.target
